{%extends "base.html"%}

{%block title%}Airtel Giveaway - Register{%endblock%}

{%block content%}

<div class="container-fluid mt-5 text-center">
          <div class="row justify-content-sm-around">
            <div class="col-sm-6">
                <div class="card py-5 border-0 shadow-lg round-25">
                    <h1 class="rubik text-center">Apply</h1>
                    <span class="text-secondary rubik">Please enter your Airtel phone number</span>
      
                    <form class="container text-center mt-5" action="{{url_for("refer")}}">
                        <span class="d-none spinner-border spinner-border-sm text-danger" id="spinner"></span>
                        <br>
                        <span class="d-none num-valid bi bi-patch-check-fill" id="validtext">Airtel Phone number is Valid</span>
                      
                        <span class="d-none bi bi-x text-danger" id="invalidtext">Could not identify this Phone number</span>
                        <div class="mx-3">
                                <input type="tel" id="phonenumber" class="form-control round-25">
                        </div>
                        <div class="mt-5 py-1">
                                <input type="submit" value="Submit" class="btn btn-danger round-25" id="enter">
                        </div>
                   </form>
               </div>
            </div>
        </div>
   </div>
    

<script src="{{url_for("static", filename="apply.js")}}"></script>
{%endblock%}